schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:d="duell"
        targetNamespace="duell"
        elementFormDefault="qualified">

    <xs:include schemaLocation="https://raw.githubusercontent.com/gameduell/duell/master/schema/common_schema.xsd" />

    <xs:complexType name="opengl">
        <xs:sequence>
            <xs:element name="html5-window-size" minOccurs="0" maxOccurs="1" type="d:WidthHeight"/>
            <xs:element name="ios-show-splashscreen" minOccurs="0" maxOccurs="1" type="d:Value"/>
        </xs:sequence>
    </xs:complexType>



</xs:schema>
